.homepage{

//header
    header{
        .countdownBar{
            background-color: rgb(245 245 245);
            height: 50px;
            width: 100%;

            .countdown{
                @include flex;
                width: 40%;
                height: 100%;
                justify-content: space-between;

                .clock{
                    span{
                        display: inline-block;
                    }
                }

                .buttonPrimary{
                    @include buttonPrimary;
                }
            }
        }

        nav{
            height: 80px;
            width: 100%;
            padding: 0 50px;
        }
    }

//jumbotron
    .jumbotron{
        height: 650px;
        background-color: rgb(251,249,246);
        @include flex;
        position: relative;

        .jumboText{
            width: 45%;
            text-align: center;

            h2{
                @include handWrited;
            }
            h3{
                font-size: 40px;
                margin: 20px 0 40px 0;
            }
            .buttonPrimary{
                @include buttonPrimary;
                padding: 15px 25px;
            }
        }
        img{
            position: absolute;
        }
        #shape1{
            top: 0;
            right: 100px;
            z-index: 100;
        }
        #shape4{
            top: 66px;
            right: 94px;
            z-index: 110;
        }
        #shape2{
            top: 0px;
            left: 0px;
            z-index: 110;
        }
        #shape5{
            bottom: 0px;
            right: 70px;
            z-index: 110;
        }
        #shape12{
            bottom: 25px;
            right: 160px;
            z-index: 120;
            zoom: 1.5;
        }
    }
    .artistCoaching{

        .artistText{
            width: 45%;
            text-align: center;
            margin: 50px auto;
            h2{
                @include handWrited;
            }
            h3{
                font-size: 40px;
                margin: 20px 0 40px 0;
            }
        }

        .rowImg{
            @include flex;
            width: 80%;
            margin: 80px auto;

            .module{
                @include flex;
                flex-direction: column;
                align-items: flex-start;
            }
        }

        .rowtext{
            @include flex;
            width: 80%;
            margin: 80px auto;

            .coachtText{
                width: 50%;
                text-align: center;
                padding: 0 100px;
                h2{
                    @include handWrited;
                }
                h3{
                    font-size: 40px;
                    margin: 20px 0 40px 0;
                }
            }

            .coachDescription{
                width: 50%;
                text-align: left;

                p{
                    margin: 20px 0;
                    font-size: 18px;
                    line-height: 30px;
                }
                .buttonSecondary{
                    @include buttonSecondary;
                }
            }
        }

        .youtube{
            @include flex;
            margin: 150px auto;

            .video{
                position: relative;
                @include flex;
                width: 950px;
                height: 550px;
                border-radius: 5px;
                background-image: url("img/artist-video-poster.jpg");
                background-repeat: no-repeat;
                transition: background-size 2s ease-in;
                -moz-transition: background-size 2s ease-in;
                -ms-transition: background-size 2s ease-in;
                -o-transition: background-size 2s ease-in;
                -webkit-transition: background-size 2s ease-in;

                #youtubePlayer{
                    position: absolute;
                }

                &:hover{
                    background-size: 110%;

                }
            }

        }
    }

}
