.homepage{

//header
    header{
        .countdownBar{
            background-color: rgb(245 245 245);
            height: 50px;
            width: 100%;

            .countdown{
                @include flex;
                width: 40%;
                height: 100%;
                justify-content: space-between;

                .clock{
                    span{
                        display: inline-block;
                        margin: 5px;
                    }
                }

                .buttonPrimary{
                    @include buttonPrimary;
                }
            }
        }

        nav{
            height: 80px;
            padding: 0 50px;
            @include flex;
            justify-content:space-around;

            img{
                width: 200px;
            }

            ul{
                color: $colorLinks;
                li:hover{
                    color: $colorActiveLinks;
                }
            }
            .links{
                @include flex;
                flex-grow: 1;
                li{
                    margin-right: 30px;

                    i{
                        font-size: 10px;
                    }
                }
            }

            .social{
                @include flex;
                width: auto;
                li{
                    margin-right: 20px;

                    i{
                        font-size: 20px;
                    }
                }
            }
        }
    }

//jumbotron
    .jumbotron{
        height: 650px;
        background-color: rgb(251,249,246);
        @include flex;
        position: relative;

        .sectionText{
            width: 45%;
            text-align: center;

            .buttonPrimary{
                @include buttonPrimary;
                padding: 15px 25px;
            }
        }
        img{
            position: absolute;
        }
        #shape1{
            top: 0;
            right: 100px;
            z-index: 100;
        }
        #shape4{
            top: 66px;
            right: 94px;
            z-index: 110;
        }
        #shape2{
            top: 0px;
            left: 0px;
            z-index: 110;
        }
        #shape5{
            bottom: 0px;
            right: 70px;
            z-index: 110;
        }
        #shape12{
            bottom: 25px;
            right: 160px;
            z-index: 120;
            zoom: 1.5;
        }
    }

// sezione artisti
    .artistCoaching{

        .row{
            @include flex;
            width: 80%;
            margin: 80px auto;

            .module{
                @include flex;
                flex-direction: column;
                align-items: flex-start;
            }
            .coachtText{
                width: 50%;
                text-align: center;
                padding: 0 100px;
                h2{
                    @include handWrited;
                }
                h3{
                    font-size: 40px;
                    margin: 20px 0 40px 0;
                    line-height: 60px;
                }
            }

            .coachDescription{
                width: 50%;
                text-align: left;
                margin-top: 20px;

                p{
                    margin: 20px 0;
                    font-size: 18px;
                    line-height: 30px;
                }
                .buttonSecondary{
                    @include buttonSecondary;
                    display: inline-block;
                    margin-top: 30px;
                }
            }
        }

        .youtube{
            @include flex;
            margin: 150px auto;

            .video{
                position: relative;
                @include flex;
                width: 950px;
                height: 550px;
                border-radius: 5px;
                background-image: url("img/artist-video-poster.jpg");
                background-repeat: no-repeat;
                background-position: center;
                background-size: 100%;
                transition: background-size 0.5s ease-in;


                #youtubePlayer{
                    position: absolute;
                }

                &:hover{
                    background-size: 105%;

                }
            }

        }
    }

//sezione testimonials
    .testimonials{
        background-color: rgb(250,248,246);
        padding: 50px 0;

        .row{
            @include flex;
            height: 535px;
            padding: 0 10%;

            .module{
                width: 33%;
                height: 100%;
                border-radius: 5px;
                padding: 50px;
                background-color: white;
                margin: 0 30px;

                h2{
                    font-size: 20px;
                    line-height: 40px;
                    margin-bottom: 20px;

                }
                p{
                    font-size: 20px;
                    line-height: 40px;
                }
            }

            .testimonial{
                @include flex;
                margin-top: 30px;
                img{
                    width: 30%;
                    border-radius: 100%;
                    margin-right: 30px;

                }
                .title{
                    flex-grow: 1;

                    span{
                        display: inline-block;
                        margin: 20px 0;
                        color: $colorLinks;
                    }
                }
            }
        }

        .dots{
            text-align: center;
            margin: 50px 0;
            i{
                margin: 0 20px;
            }
        }
    }

//sezione corsi
    .courses{

        .row{
            @include flex;
            justify-content: space-between;
            padding: 0 50px;

            .module{
                width: 300px;

                .image{
                    width: 100%;
                    height: 300px;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 100%;
                    transition: background-size 0.5s ease-in;

                    &:hover{
                        background-size: 105%;
                    }
                }


                .text{
                    @include flex;
                    flex-direction: column;
                    align-items: flex-start;
                    width: 250px;
                    height: 250px;
                    padding: 20px;

                    .price{
                        color: rgb(239,111,49);
                        font-size: 24px;
                        font-weight: bold;
                    }
                    h2{
                        margin: 20px 0;
                    }
                    .lessons{
                        @include flex;
                        flex-direction: column;
                        align-items: flex-start;

                        span{
                            margin: 5px 0;
                        }
                    }
                }
                .acrylic{
                    background-image: url("img/artist-course-08-480x480.jpg");
                }
                .shadow{
                    background-image: url("img/artist-course-07-480x480.jpg");
                }
                .digital{
                    background-image: url("img/artist-course-06-480x480.jpg");
                }
                .sketch{
                    background-image: url("img/artist-course-05-480x480.jpg");
                }
                .portrait{
                    background-image: url("img/artist-course-04-480x480.jpg");
                }
                .painting{
                    background-image: url("img/artist-course-03-480x480.jpg");
                }
                .drawing{
                    background-image: url("img/artist-course-02-480x480.jpg");
                }
                .colored{
                    background-image: url("img/artist-course-01-480x480.jpg");
                }
            }
        }
        .btncontainer{
            text-align: center;
            .buttonSecondary{
                @include buttonSecondary;
                display: inline-block;
                margin: 30px auto;

                i{
                    margin-left: 5px;
                }
            }
        }
    }

//sezione Tips
    .tips{
        background-color: rgb(245,247,250);
        padding: 50px;

        .row{
            @include flex;
            justify-content: space-between;

            .sideModule{
                .image{
                    width: 100%;
                    height: 220px;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 100%;
                    transition: background-size 0.5s ease-in;

                    &:hover{
                        background-size: 105%;
                    }
                }


                .text{
                    background-color: white;
                    @include flex;
                    flex-direction: column;
                    align-items: flex-start;
                    width: 350px;
                    height: 220px;
                    padding: 20px;

                    .artist{
                        color: $colorLinks;
                        font-size: 20px;
                    }
                    h2{
                        margin: 20px 0;
                    }
                    .lessons{
                        @include flex;
                        justify-content: space-between;
                        color: $colorLinks;

                        span{
                            i{
                                margin-right: 10px;
                            }
                        }
                    }
                }

                .brush{
                    background-image: url("img/120084500_197897808368764_8114555493043279565_n.jpg");
                }
                .miniature{
                    background-image: url("img/artist-blog-01-480x356.jpg");
                }
                &:first-child{
                    margin-top: 120px;
                }
                &:last-child{
                    margin-bottom: 120px;
                }
            }


            .middleModule{
                width: 500px;
                height: 680px;
                background-image: url("img/artist-blog-02-500x680.jpg");
                padding: 450px 50px 0 50px;
                color: white;
                background-repeat: no-repeat;
                background-position: center;
                background-size: 100%;
                transition: background-size 0.5s ease-in;

                &:hover{
                    background-size: 110%;
                }

                .artist{
                    font-size: 20px;
                }
                h2{
                    margin: 20px 0;
                    font-size: 34px;
                    line-height: 40px;
                }
                i{
                    margin-right: 10px;
                }
            }
        }

        .details{
            margin-top: 50px;
            text-align: center;

            span{
                font-size: 20px;
                color: $colorLinks;

            }
            .posts{
                color: rgb(239,111,49);
                border-bottom: 1px solid rgb(224,224,224);

                i{
                    margin-left: 5px;
                }
            }
        }
    }

}
