$colorLinks: rgb(105,105,105);
$colorActiveLinks: rgb(240,119,60);

@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
}

@mixin buttonPrimary {
    color: white;
    background-color: rgb(239,111,49);
    padding: 8px 30px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
    &:hover{
        background-color: rgb(106,197,241);
    }
}

@mixin buttonSecondary {
    color: rgb(239,111,49);
    background-color: rgb(253,240,234);
    padding: 15px 25px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
    &:hover{
        color: white;
        background-color: rgb(239,111,49);
    }
}

@mixin handWrited {
    font-family: 'Parisienne', cursive;
    color: rgb(106 197 241);
    font-size: 50px;
    font-weight: 500;
}
