@import "partials/variables";
@import "partials/homepage";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Questrial', sans-serif;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.sectionText{
    width: 45%;
    text-align: center;
    margin: 50px auto;
    h2{
        @include handWrited;
    }
    h3{
        font-size: 40px;
        margin: 20px 0 40px 0;
    }
}
